{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password - User Management System{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Change Password</h3>
            </div>
            <div class="card-body">
                {% crispy form %}
                <hr>
                <a href="{% url 'accounts:profile' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}